<div id="content" class="snap-content">         
    <div class="header">
        <a href="#" class="sidebar-deploy"><i class="fa fa-navicon"></i></a>
        <h3>TODOLIST</h3>
        <a href="contact.html" class="contact-deploy"><i class="fa fa-envelope-o"></i></a>
    </div>
    
    <div class="signup-page bg2">
        <div class="signup-page-overlay"></div>
        <div class="signup-page-wrapper">
            <a href="#" class="signup-logo"></a>
            <p>
                Veuillez vous connctez! 
            </p>
            

        <form role="form" action="/connection" method="POST">
            <input type="text" name="email" class="signup-email" placeholder="Email">
            <input type="text" name="password" placeholder="password" style="margin-bottom:0px">
            <input type="submit" value="Log-in" class="btn btn-info btn-block">
        </form>
         </div>
    </div>
</div>  

                